header {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 35px;
}

body {
    margin: 0;
}

#pageContainer {
    background-color: #151515;
}

/**************
    SEARCH
***************/

.search-area {
    text-align: center;
}

#searchForm {
    color: black;
}


/***************
      GRID
****************/

#movieDisplay {
    margin: 20px;
}

.grid-container {
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, 400px));
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.grid-item {
    /* border-style: solid;
    border-color: white; */
    justify-self: center;
    cursor: pointer;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.movie-container {
    width: 250px;
    display: grid;
    grid-row-gap: 5px;
    margin-bottom: 3px;
    grid-template-rows: auto auto;
}

.movie-container img {
    width: 250px;
    height: auto;
    border-radius: 20px;
}

.movie-header {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0px 10px;
    align-self: center;
}

.movie-header p {
    margin: 0;
}

.movie-title {
    align-self: center;
}

.movie-title p{
    word-wrap: normal;
}

.movie-rating {
    justify-self: end;
    align-self: center;
}


/****************
      POP UP
*****************/

.popUp-visible {
    position: fixed;
    width: 100%;
    height: 100%;
    /* border-style: solid;
    border-color: red; */
}

.popUp-visible::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.90;
}

#popupInfo > p {
    margin: 10px 3px;
}

#closeBtn {
    position: fixed;
    right: 7px;
    top: 3px;
    background-color: gray;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: 0.95;
}

#popUp {
    width: 40%;
    min-width: 300px;
    height: 90%;
    max-height: 735px;
    /* border-style: solid;
    border-color: black; */
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;


    display: grid;
    grid-template-areas: "backdrop backdrop"
                         "poster info"
                         "overview overview";
    grid-template-columns: 26% 74%;
    grid-template-rows: fit-content(0) max(105px, 18%) ;
}

#popupBackDropImg {
    grid-area: backdrop;
    width: 99.2%;
    height: auto;
    border-radius: 20px;
}

#popupPosterImg {
    grid-area: poster;
    width: 100%;
    transform: translate(15px, -55%);
    border-radius: 20px;
}

#popupInfo {
    grid-area: info;
    color: black;
    padding-right: 7px;
    padding-left: 22px;
    
}

#movieGenre {
    font-family: 'Hammersmith One', sans-serif;
    color: gray;
    font-size: large;
}

#movieName {
    font-family: 'Roboto', sans-serif;
    font-size: max(1.7vw, 20px);
    
}

#movieInformation {
    display: grid;
    grid-template-columns: 70% 30%;
}

#movieTime {
    color: black;
    margin: 0;
    font-family: 'Hammersmith One', sans-serif;
    font-size: large;
    color: grey;
}

#movieRating {
    color: grey;
    margin: 0;
    font-size: large;
    padding-bottom: 5px;
    font-family: 'Hammersmith One', sans-serif;
}

#movieInformation #movieRating{
    justify-self: end;
}

#popupOverview {
    grid-area: overview;
    color: black;
    padding-top: max(2.1vw, 26px);
    /* font-size: max(); */
    font-family: 'Hammersmith One', sans-serif;
}

.popUp-grid-item {
    /* border-style: solid;
    border-color: blue; */
}

.centered {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/****************
    LOAD MORE
*****************/

.load-more-area {
    text-align: center;
}